* {
    box-sizing: border-box;
}

body {
    background-color: #828282;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
    font-family: "Roboto", sans-serif;
    height: 100svh;
    overflow: hidden;
    margin: 0;
}

.container {
    height: 100%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .container {
        height: 100%;
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        height: 100%;
        width: 95%;
    }
}

#tooltip {
    background-color: #49c5ff;
    background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
    border: 1px solid #49c5ff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 1em;
    width: 100%;
    padding: 1em;
    margin: 1em auto;
    color: #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    opacity: 0;
    animation: showAndHide 4s ease-in-out;
    transition: opacity 0.5s;
    }

    @keyframes showAndHide {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
}

#tooltip:hover {
    opacity: 1;
    transition: opacity 0.25s;
}

#tooltip span {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    padding: .1em;
}

#tooltip span svg {
    margin: auto .2em;
}

#program {
    width: 100%;
}

#tags {
    justify-content: center;
    min-height: auto;
    display: flex;
    flex-flow: wrap-reverse;
    align-items: start;
    justify-content: start;
    max-width: 100%s;
}

.tag {
    background-color: #c72924;
    background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
    color: white;
    border-radius: 0.25em;
    border: rgb(40, 40, 40) 2px solid;
    padding: 0.5em 1em;
    margin: 0 0.15em 0.3em 0;
    display: inline-block;
}

.tag.highlight {
    background-color: rgb(27, 182, 102);
    font-style: italic;
}

#input-container {
    width: 100%;
    display: flex;
}

#input-area {
    background-color: #c2c2c2;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    border: 1px solid #d2d1d1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: none;
    display: block;
    width: 100%;
    font-family: inherit;
    padding: .5em;
    margin: .5em .5em .5em 0;
    font-size: 1em;
    resize: none;
    overflow: hidden;
}

button {
    background-color: #c2c2c2;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    border: 1px solid #d2d1d1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: none;
    display: block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em auto;
}

button:hover {
    background-color: #cdcdcd;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    transition: background-color 0.2s;
}

button:active {
    background-color: #c2c2c2;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    transition: background-color 0.25s;
    box-shadow: none;
}

/* .dropdown {
    position: absolute;
} */

.dropdown-content {
    position: absolute;
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    z-index: 1;
}

.dropdown-option {
    position: relative;
}

button.delimiter-option {
    background-color: #49c5ff;
}

#enter-icon {
    transform: rotate(180deg);
}